#busqueda {
    background: #501414;
    .input2 {
        background: #b62727;
    }
    input {
        width: 300px;
        height: 43px;
        background: #f9f5f5;
        border: none;
        outline: none;
        padding-left: 20px;
        
    }
}
