h1 {
    color: rgba(33, 32, 131, 0.658);
}

#primer-oferta {
    color: rgb(53, 54, 54);
   
}

.oferta-item {
    color: rgb(53, 54, 54);
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 10px 47px -19px rgba(0,0,0,0.75);
    border-radius: 10px;
}

body {
    margin-bottom: 10px;
}

#contenedor1{
    display: flex; /* or inline-flex */
    FLEX-WRAP: wrap;
    justify-content: center
}

    
  